/* Navbar */
.navbar {
  padding-bottom: 1rem;
}

.logo {
  float: none;
  text-align: center;
  position: static;
  transform: none;
}

.nav-list, .nav-item {
  float: none;
}

.nav-link {
  padding: 0.5rem;
  border-bottom: #444 dotted 1px;
}

/* Showcase */
.showcase-content {
  padding-top: 5rem;
}

/* Home Info */
.home-info .info-img {
  display: none;
}

.home-info .info-content {
  float: none;
  width: 100%;
}


/* Features */
.box {
  float: none;
  width: 100%;
}

/* About Info */
.about-info .info-right,
.about-info .info-left {
  float: none;
  width: 100%;
}

.about-info .info-right img {
  margin-top: 3rem;
}

.l-heading {
  text-align: center;
}

/* Testimonials */
.testimonials {
  height: 100%;
}

/* Contact Form */
.contact-info .box {
  border-bottom: #444 dotted 1px;
}



