/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Styling */
html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.6em;
  line-height: 1.7em;
  color: #333;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 2rem;
}

p {
  margin-block: 1rem;
}

ul {
  list-style-type: none;
}

/* Utility Classes */
.container {
  max-width: 110rem;
  margin: 0 auto;
  overflow: auto;
  padding-inline: 2rem;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 2rem;
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  color: #fff;
  background-color: #333;
  padding: 1.3rem 2rem;
  border: none;
  cursor: pointer;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-primary {
  background-color: #333;
  color: #f7c08a;
}

.btn:hover {
  background-color:  #f7c08a;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

.logo {
  float: left;
  padding-top: 2rem;
}

.logo > a {
  display: inline-block;
  color: inherit;
  vertical-align: middle;
}

.nav-list {
  float: right;
}

.nav-item {
  float: left;
  text-align: center;
}

.nav-link {
  display: inline-block;
  padding: 2rem;
  color: inherit;
  vertical-align: middle;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-link:hover {
  background-color: #444;
  color: #f7c08a;
}

.nav-item.active {
  color: #f7c08a;
}

/* Showcase */
.showcase {
  background-image: url("../img/showcase.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60rem;
}

.showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 17rem;
}

.showcase-content h1 {
  font-size: 6rem;
  line-height: 1.2em;
}

.showcase-content p {
  padding-bottom: 2rem;
  line-height: 1.7em;
}

/* Home Info */
.home-info {
  height: 40rem;
}

.home-info .info-img {
  float: left;
  width: 50%;
  background: url("../img/photo-1.jpg") no-repeat;
  min-height: 100%;
}

.home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 5rem 3rem;
  overflow: hidden;
}

.home-info .info-content .btn {
  margin-top: 3rem;
}