/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Styling */
html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.6em;
  line-height: 1.7em;
  color: #333;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 2rem;
}

p {
  margin-block: 1rem;
}

ul {
  list-style-type: none;
}

/* Utility Classes */
.container {
  max-width: 110rem;
  margin: 0 auto;
  overflow: auto;
  padding-inline: 2rem;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

.logo {
  float: left;
  padding-top: 2rem;
}

.logo > a {
  display: inline-block;
  color: inherit;
  vertical-align: middle;
}

.nav-list {
  float: right;
}

.nav-item {
  float: left;
  text-align: center;
}

.nav-link {
  display: inline-block;
  padding: 2rem;
  color: inherit;
  vertical-align: middle;
}

.nav-link:last-child {
  padding-right: 0;
}

.nav-link:hover {
  background-color: #444;
  color: #f7c08a;
}

.nav-item.active {
  color: #f7c08a;
}
