/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Styling */
html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.6em;
  line-height: 1.7em;
  color: #333;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 2rem;
}

p {
  margin-block: 1rem;
}

ul {
  list-style-type: none;
}
